<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="dialog-title">
    <mat-icon>attach_money</mat-icon>
    <div class="dragdrop-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <span class="flex-blank-filler">
      Lista de pagos {{ title }}
    </span>
    <button mat-icon-button (click)="callClose()">
      <mat-icon> close </mat-icon>
    </button>  
  </div>
  
  <mat-dialog-content class="mat-typography">
    <div class="filter-container">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
      </mat-form-field>
      <span class="total-info">
        Total de predios pagados: {{ data.length | number: "1.0-0" }}
      </span>
    </div>
      
    <div class="mat-elevation-z8">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="colonia">
            <th mat-header-cell *matHeaderCellDef> Colonia </th>
            <td mat-cell *matCellDef="let row"> {{ row.colonia }} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Tipo de predio </th>
            <td mat-cell *matCellDef="let row">{{ row.predioType }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="cuenta">
            <th mat-header-cell *matHeaderCellDef> Cuenta </th>
            <td mat-cell *matCellDef="let row">{{ row.cuenta }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="claveCatastral">
            <th mat-header-cell *matHeaderCellDef> Clave catastral</th>
            <td mat-cell *matCellDef="let row">{{ row.formattedClave }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="ubication">
            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
            <td mat-cell *matCellDef="let row">{{ row.ubicacion }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="numberExt">
            <th mat-header-cell *matHeaderCellDef>Número Exterior</th>
            <td mat-cell *matCellDef="let row">{{ row.numberExterior }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef> Folio </th>
            <td mat-cell *matCellDef="let row">{{ row.folio }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let row">{{ getDatePaid(row.fecha) }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef> Hora </th>
            <td mat-cell *matCellDef="let row">{{ row.hora }}</td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>
  
          <ng-container matColumnDef="totalPago">
            <th mat-header-cell *matHeaderCellDef>Total pago</th>
            <td mat-cell *matCellDef="let row">{{ row.totalPago | number: "1.2-2" }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ getTotalPago() }} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-pointer" (click)="moveToGeom(row)"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td *ngIf="input.value !== ''; else noData" class="mat-cell" colspan="10">No se encontraron datos con el filtro "{{input.value}}"</td>
            <ng-template #noData>
              <td class="mat-cell" colspan="10">No se encontraron predios pagados</td>
            </ng-template>
          </tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
      </div>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
      <div class="button-container">
        <button mat-flat-button color="primary" (click)="getInform()">
          Generar informe
        </button>
      </div>
    </div>  
  </mat-dialog-content>
</div>

<sic-backdrop [backdropMessage]="backdropMessage" [showingLoading]="showLoading"></sic-backdrop>