<div class="payment-container mat-elevation-z2" cdkDrag>
  <div class="payment-title">
    <div class="dragdrop-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <span class="flex-blank-filler">Gestión de pagos</span>
  </div>

  <div *ngIf="paymentList === ''; else chosenPayment">
    <p class="payment-list">
      <button *ngIf="canSeePaid" mat-flat-button color="primary" (click)="selectPaymentList('paid-col')" title="Lista de pagos por colonia">
        Lista de pagos por colonia
      </button>
      <button *ngIf="canSeeDebt" mat-flat-button color="primary" (click)="selectPaymentList('debt-col')" title="Lista de deudores por colonia">
        Lista de deudores por colonia
      </button>
      <button *ngIf="canSeePaid" mat-flat-button color="primary" (click)="selectPaymentList('paid-mnz')" title="Lista de pagos por colonia">
        Lista de pagos por manzana
      </button>
      <button *ngIf="canSeeDebt" mat-flat-button color="primary" (click)="selectPaymentList('debt-mnz')" title="Lista de deudores por colonia">
        Lista de deudores por manzana
      </button>
    </p>
  </div>

  <ng-template #chosenPayment>
    <div>
      <p class="p"> {{ paymentListTitle }} </p>
      <p class="p">Haz click en el mapa para ver el listado</p>
      <button mat-flat-button color="primary" (click)="backSelectPaymentList()" title="Volver">
        Volver
      </button>
    </div>
  </ng-template>
</div>

<sic-backdrop [backdropMessage]="backdropMessage" [showingLoading]="showLoading"></sic-backdrop>