<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div mat-dialog-title>
    <div class="dragdrop-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <h4 class="flex-blank-filler">{{ dataGraph.title }}</h4>
  </div>
  <div class="title">
    <h3>{{ titleGraph }}</h3>
    <mat-icon class="clickable" (click)="changeGraph()" matTooltip="Cambiar tipo gráfica">
      assessment
    </mat-icon>
  </div>
  <hr />
  <mat-dialog-content>
    <div *ngIf="dataGraph.selectData.length > 0; else noGraph">
      <div class="chart">
        <canvas
          baseChart
          [data]="chartData"
          [type]="chartType"
          [options]="chartOptions"
          [plugins]="chartPlugins"
        >
        </canvas>
      </div>
      <div *ngFor="let total of totalElements">
        <p class="totals">{{ total.type }}: {{ getFormattedNumber(total.count) }}</p>
      </div>
    </div>
    <ng-template #noGraph>
      <h2 class="no-data">{{ dataGraph.message }}</h2>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions>
    <mat-form-field *ngIf="dataGraph.selectData.length > 1">
      <mat-select [(ngModel)]="graphSelect" name="graphic" (selectionChange)="updateGraph()">
        <mat-option *ngFor="let option of dataGraph.selectData" [value]="option.value">
          {{ option.view }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button [mat-dialog-close]="true">Aceptar</button>
  </mat-dialog-actions>
</div>
