<div class="fusion-title">
  <mat-icon>view_compact</mat-icon>
  <span class="flex-blank-filler">
    Fusión
  </span>
  <button mat-icon-button (click)="callClose()">
    <mat-icon> close </mat-icon>
  </button>
</div>

<div class="fusion-container">
  <div class="fusion-content">
    <div class="shadow">
      <section>
        <div class="select-layer">
          <select class="full-select" [(ngModel)]="layerSelected" (change)="handleSelectLayer()" name="selectLayer">
            <option selected disabled value="">Selecciona capa para trámite de fusión</option>
            <option ngValue="predio">
              Predio
            </option>
            <option ngValue="construction">
              Construcción
            </option>
          </select>

          <div *ngIf="isLayerSelected">
            <p>Selecciona {{ layerToFusion }} para fusionar</p>
          </div>
        </div>
      </section>
    </div>

    <div *ngIf="layerSelected === 'predio'" class="shadow">
      <header>Predios ({{ prediosSelected.length }})</header>
      <section>
        <div class="data-table">
          <table mat-table [dataSource]="predios">
            <ng-container matColumnDef="clave">
              <th mat-header-cell *matHeaderCellDef>Clave</th>
              <td mat-cell *matCellDef="let row">{{ row.clave }}</td>
            </ng-container>

            <ng-container matColumnDef="subpredio">
              <th mat-header-cell *matHeaderCellDef>Subpredio</th>
              <td mat-cell *matCellDef="let row">{{ row.unidad }}</td>
            </ng-container>

            <ng-container matColumnDef="cuenta">
              <th mat-header-cell *matHeaderCellDef>Cuenta</th>
              <td mat-cell *matCellDef="let row">{{ row.cuenta }}</td>
            </ng-container>

            <ng-container matColumnDef="areaCartografica">
              <th mat-header-cell *matHeaderCellDef>Área cartográfica</th>
              <td mat-cell *matCellDef="let row">{{ row.area | number: "1.2-2" }}m<sup>2</sup></td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let row" class="action-button">
                <button
                  mat-icon-button
                  color="primary"
                  matTooltip="Eliminar predio seleccionado"
                  (click)="deleteSelected(row.idPredio)"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="predioColumns; sticky: true">
            </tr>
            <tr
              mat-row
              *matRowDef="let row; columns: predioColumns"
              class="row-pointer" [ngClass]="{ predominante: row.idPredio === predioPredominante.idPredio }" (click)="selectedPredominante(row)"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">
                No se han agregado predios a fusionar
              </td>
            </tr>
          </table>
        </div>
      </section>
      <div class="select-layer" *ngIf="prediosSelected.length > 1">
        <div *ngIf="predioPredominante.idPredio === ''; else selectedPredominante">
          <p>Haz clic en la fila del predio predominante</p>
        </div>
        <ng-template #selectedPredominante>
          <p>Predio predominante {{ predioPredominante.clave }}</p>
        </ng-template>
        
      </div>
      <div *ngIf="showResult" class="result-container" [ngClass]="{'correct': resultCorrect}">
        {{ resultMessage }}
      </div>
      <div class="action-section">
        <button mat-flat-button color="primary" (click)="generateFusion()" [disabled]="prediosSelected.length < 2">
          Genera fusión
        </button>
        <button mat-flat-button color="primary" (click)="applyFusion()" [disabled]="predioPredominante.idPredio === '' || prediosSelected.length < 2">
          Aplica fusión
        </button>
      </div>
    </div>

    <div *ngIf="layerSelected === 'construction'" class="shadow">
      <header>Construcciones ({{ constructionsSelected.length }})</header>
      <section>
        <div class="data-table">
          <table mat-table [dataSource]="constructions">
            <ng-container matColumnDef="bloque">
              <th mat-header-cell *matHeaderCellDef>Bloque</th>
              <td mat-cell *matCellDef="let row">{{ row.bloque }}</td>
            </ng-container>

            <ng-container matColumnDef="niveles">
              <th mat-header-cell *matHeaderCellDef>Niveles</th>
              <td mat-cell *matCellDef="let row">{{ row.niveles }}</td>
            </ng-container>

            <ng-container matColumnDef="clasificacion">
              <th mat-header-cell *matHeaderCellDef>Clasificación</th>
              <td mat-cell *matCellDef="let row">{{ row.clasificacion }}</td>
            </ng-container>

            <ng-container matColumnDef="areaConstruction">
              <th mat-header-cell *matHeaderCellDef>Área construcción</th>
              <td mat-cell *matCellDef="let row">{{ row.sc | number: "1.2-2" }}m<sup>2</sup></td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let row" class="action-button">
                <button
                  mat-icon-button
                  color="primary"
                  matTooltip="Eliminar construcción seleccionada"
                  (click)="deleteSelected(row.idConstruccion)"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="constructionColumns; sticky: true">
            </tr>
            <tr
              mat-row
              *matRowDef="let row; columns: constructionColumns"
              class="row-pointer" [ngClass]="{ predominante: row.idConstruccion === constructionPredominante.idConstruccion }" (click)="selectedPredominante(row)"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">
                No se han agregado construcciones a fusionar
              </td>
            </tr>
          </table>
        </div>
      </section>
      <div class="select-layer" *ngIf="constructionsSelected.length > 1">
        <div *ngIf="constructionPredominante.idConstruccion === ''; else selectedConstructionPredominante">
          <p>Haz clic en la fila de la construcción predominante</p>
        </div>
        <ng-template #selectedConstructionPredominante>
          <p>Construcción predominante {{ constructionPredominante.bloque }}</p>
        </ng-template>
        
      </div>
      <div *ngIf="showResult" class="result-container" [ngClass]="{'correct': resultCorrect}">
        {{ resultMessage }}
      </div>
      <div class="action-section">
        <button mat-flat-button color="primary" (click)="generateFusion()" [disabled]="constructionsSelected.length < 2">
          Genera fusión
        </button>
        <button mat-flat-button color="primary" (click)="applyFusion()" [disabled]="constructionPredominante.idConstruccion === '' || constructionsSelected.length < 2">
          Aplica fusión
        </button>
      </div>
    </div>
  </div>
</div>

<sic-backdrop [backdropMessage]="backdropMessage" [showingLoading]="showLoading"></sic-backdrop>
